<!--
  - Copyright Regione Piemonte - 2024
  - SPDX-License-Identifier: EUPL-1.2
  -->

<div class="row w-100 mt-5">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <mat-card>
      <mat-card-title class="ml-2 mt-2">La tua sessione non &egrave; pi&ugrave; valida!</mat-card-title>
      <br>
      <mat-card-subtitle class="ml-2">Rieffettua il login....</mat-card-subtitle>
      <mat-card-actions class="mb-2">
        <button mat-raised-button class="ml-2">
          <a href="https://tst-pua.salutepiemonte.it/pua/#/">LOGIN</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-2"></div>
</div>
