<!--
  - Copyright Regione Piemonte - 2024
  - SPDX-License-Identifier: EUPL-1.2
  -->

<nav class="navbar navbar-light px-0 py-0" style="background-color: #026cb3;">
  <div class="row w-100">
    <div class="col-md-9 w-100 pr-0 d-flex justify-content-between style-tool-bar-two">
      <img class="img-fluid pl-3" src="assets/img/logo-dirmei.svg" width="75" height="68" alt="logo dirmei">
      <img class="img-fluid" src="assets/img/logo-regione-piemonte.svg" width="145" height="88" alt="logo regione piemonte">
      <img class="img-fluid pr-3" src="assets/img/logo-csi.svg" width="145" height="88" alt="logo csi piemonte">
    </div>
    <div class="col-md-3 w-100 pl-0 pr-0 style-tool-bar d-flex align-items-center text-center">
      <!-- <div class="row w-100 px-3 py-2 d-flex align-items-center justify-content-center"> -->
        <!-- <div class="col-md-12"> -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="row w-100 px-3 py-2"> -->
        <!-- <div class="col-md-12"> -->
          <span class="w-100 text-white text-bold">
            <h1 class="m-0">Sistemapiemonte</h1>
            <!-- <br> -->
            <p class="m-0" style="font-size: 16px;">011 - 5663186</p>
          </span>
          <!-- <span class="w-100 text-white">Contatti: 011 - 5663186</span> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</nav>
