/*
 Copyright Regione Piemonte - 2024
 SPDX-License-Identifier: EUPL-1.2
*/

.disabled-button-delete {
  color: lightgray !important;
  cursor: not-allowed;
  /* Opzionale */
}

.active-button-delete {
  color: red !important;
}

.disabled-button-add {
  color: lightgray !important;
  cursor: not-allowed;
  /* Opzionale */
}
