/*
 Copyright Regione Piemonte - 2024
 SPDX-License-Identifier: EUPL-1.2
*/

a {
  color: #0381d6;
}

.nav-pills .nav-link.active {
  background-color: #0381d6;
}

.button-basic {
  background-color: #0381d6;
}
