<!--
  - Copyright Regione Piemonte - 2024
  - SPDX-License-Identifier: EUPL-1.2
  -->

<h1 mat-dialog-title>
  Conferma eliminazione membro
</h1>
<div mat-dialog-content class="my-2">
  <div class="container-fluid mb-2 my-2">
    <div class="row align-items-center justify-content-center">
      <div class="col-12">
        <h3 class="lead display-4" *ngIf="membro && membro.soggetto">
          <span class="font-weight-bold">Cognome: </span>
          {{ membro.soggetto.cognome }}
        </h3>
        <h3 class="lead display-4" *ngIf="membro && membro.soggetto">
          <span class="font-weight-bold">Nome: </span>
          {{ membro.soggetto.nome }}
        </h3>
        <h3 class="lead display-4" *ngIf="membro && membro.soggetto">
          <span class="font-weight-bold">Codice fiscale: </span>
          {{ membro.soggetto.codiceFiscale }}
        </h3>
        <!-- <p *ngIf="membro && membro.soggetto">{{ membro.soggetto.cognome }} {{ membro.soggetto.nome }} {{
          membro.soggetto.codiceFiscale }}</p> -->
        <br>
        <h3 class="font-weight-bold display-4">Confermi l'eliminazione?</h3>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>CHIUDI</button>
  <button type="button" class="btn btn-primary px-4 ml-auto button-basic" (click)="closeModal()"
    [disabled]="isLoadingDeleteMembro">
    <span *ngIf="!isLoadingDeleteMembro">ELIMINA</span>
    <span *ngIf="isLoadingDeleteMembro">IN CARICAMENTO...</span>
  </button>
</div>
