/*
 Copyright Regione Piemonte - 2024
 SPDX-License-Identifier: EUPL-1.2
*/

.custom-modal {
  overflow-y: auto;
  /* Aggiungi uno scroll verticale quando necessario */
}

.text-dropdown {
  font-size: 1rem;
}

.highlight-border {
  border: 2px solid #0381d6;
  /* Sostituisci #ff9800 con il colore desiderato */
}
