/*
 Copyright Regione Piemonte - 2024
 SPDX-License-Identifier: EUPL-1.2
*/

.button-basic {
  background-color: #0381d6;
}

.spin-emitter-style {
  width: 3rem;
  height: 3rem;
}

.nav-link.active {
  background-color: #0381d6;
}