<!--
  - Copyright Regione Piemonte - 2024
  - SPDX-License-Identifier: EUPL-1.2
  -->

<div class="row mb-2">
  <div class="col-auto d-flex align-items-center">
    <h2 mat-dialog-title class="m-0">
      {{title}}
    </h2>
  </div>
  <div class="col-auto ml-auto d-flex align-items-center">
    <div class="col-auto ml-auto d-flex align-items-center" *ngIf="client.checkAzioni('vigil_doc') === 'W'">
      <button type="button" class="btn btn-primary m-0 button-basic" (click)="moduloCommon.modificaDocumentazione()">
        <span *ngIf="client.disabilitaCampi">MODIFICA</span>
        <span *ngIf="!client.disabilitaCampi">ANNULLA</span>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content class="mt-3">
  <p *ngIf="alertValidModulo">
    <ngb-alert [dismissible]="false" [type]="'danger'">
      <strong>Attenzione!</strong> Per poter procedere con il salvataggio bisogna compilare tutti i campi
      <strong>obbligatori</strong> contrassegnati da un <strong>*</strong>.
    </ngb-alert>
  </p>
  <app-test></app-test>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>CHIUDI</button>
  <button type="button" class="btn btn-primary mt-2 ml-auto button-basic" (click)="sendDocumentazioneModal()"
    [disabled]="client.disabilitaCampi || isLoadingAddDocumentazione"
    *ngIf="!client.warningModulo && client.checkAzioni('vigil_doc') === 'W'">
    <span *ngIf="!isLoadingAddDocumentazione">SALVA</span>
    <span *ngIf="isLoadingAddDocumentazione">IN CARICAMENTO...</span>
  </button>
</div>
